<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <title>Signin</title>
</head>

<body>
  <%- include('./partials/nav') %>
    <%- include('./partials/scripts') %>

      <div class="container mt-4">
        <form action="/user/signin" method="post">
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" required>
            <div class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>

          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="checkbox">
            <label class="form-check-label" for="checkbox">I'd like to receive updates on my email</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
</body>

</html>